/* Buttons */
.btn-custom-blue {
  background-color: #2596be !important;
  color: white !important;
  border: none;
}

/* Dark blue text class */
.text-darkblue {
  color: #003366 !important;
}

.bg-darkblue {
  background-color: #003366 !important;
  border: none;
}

.btn-darkblue {
  background-color: #003366 !important;
}

/* Always white nav text on colored bg */


/* Body overflow control */
body {
  overflow-x: hidden;
  max-width: 100%;
}
